* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
    height: 100%;
}

body {
    height: 100%;
    background: aqua;
} */

/* header section */
.headerr {
    position: relative;
    width: 100%;
    height: 10vh;
}

.header-container {
    width: 100%;
    height: 10vh;
    background: #3D3D3D;
    display: flex;
    align-items: center;
}

.header-container h1 {
    font-size: 28px;
    margin-left: 1em;
    color: #fff;
}
/* header sectio end */

/* contact */
.contact {
    width: 100%;
    height: 117vh;
    padding: 2em 8em;
    /* background: darkgray; */
}

.contact-container {
    width: 100%;
    height: 100vh;
}

.left-contact {
    width: 100%;
    height: 45vh;
    /* background: coral; */
}

.left-contact .contact-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(127, 255, 212, 0.295);
    margin-top: .5em;
    margin-bottom: .5em;
    margin-left: .5em;
}

.left-contact .contact-circle2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(127, 255, 212, 0.295);
    margin-top: .5em;
    margin-left: 15em;
}

.left-contact h2 {
    font-size: 14px;
    margin-left: .7em;
    color: #3d3d3dd0;
}

.left-contact h1 {
    font-size: 18px;
    margin-left: .6em;
}

.left-contact p {
    font-size: 13px;
    padding-top: 10px;
    /* padding-left: 5px; */
    margin-left: 1em;
    color: #3d3d3dd0;
}

.left-contact p .fas {
    padding-right: 10px;
}

/* right-contact */
.right-contact {
    width: 100%;
    height: 80vh;
    /* background: deepskyblue; */
}

.right-contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    /* background: rgba(127, 255, 212, 0.705); */
    width: 80%;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-left: 1em;
    z-index: 100;
}

form input, form textarea {
    border: 0;padding: 5px;
    margin: 10px 0;

}

.right-contact form label {
    margin-top: .5em;
    font-size: 14px;
    font-weight: 600;
}

.right-contact form input {
    width: 60%;
    margin-top: .2em;
}

.right-contact form .request {
    width: 70%;
}

form button {
    align-self: center;
    width: 30%;
    margin-top: 1em;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    outline: none;
    transition: .5s ease;
}

form button:hover {
    background: rgb(19, 158, 26);
    color: white;
}

/* map section */
.map {
    width: 100%;
    height: 65vh;
}
/* map section end */

@media only screen and (min-width:720px) {
    .right-contact form {
        width: 60%;
    }
    .right-contact form input {
        width: 40%;
    }

    .right-contact form .request {
        width: 50%;
    }

    .right-contact form .submit {
        width: 20%;
    }

    .right-contact form {
        padding-left: 20px;
    }
}

@media only screen and (min-width:1200px) {
    .headerr {
        height: 6em;
    }
    .header-container {
        width: 1351px;
        margin: 0 auto;
        height: 6em;
    }

    /* .hero {
        height: 20em;
    }
    .hero-sec1 {
        width: 1339px;
        margin: 0 auto;
    }
    .hero-sec1 {
        height: 20em;
        padding-left: 20em;
    }

    .hero-sec1 p {
        width: 70%;
        font-size: 1em;
    } */

    /* contact */
    .contact-container {
        width: 1080px;
        margin: 0 auto;
    }
    .contact {
        height: 31em;
        padding: 0;
        /* background: #3D3D3D; */
    }

    .contact-container {
        display: flex;
        /* background: burlywood; */
        height: 31em;
    }

    .right-contact {
        display: flex;
        height: 20em;
    }

    .left-contact {
        padding-top: 2em;
        width: 30%;
        /* background: #3D3D3D; */
        height: 25em;
    }

    .left-contact h2 {
        font-size: 18px;
        padding-bottom: 16px;
    }

    .left-contact h1 {
        font-size: 24px;
    }

    .left-contact p {
        font-size: 14px;
        padding-top: 15px;
    }

    .right-contact form {
        padding-top: 2em;
        width: 100%;
        height: 30em;
    }

    .right-contact form label {
        margin-left: 3em;
        font-weight: 300;
    }

    .right-contact form input {
        margin-left: 3em;
        width: 90%;
        background-color: transparent;
        border-bottom: 1px solid #3D3D3D;
    }

    .right-contact form .request {
        margin-left: 3em;
        height: 10em;
        background: #f4f4f4;
    }

    .right-contact form .submit {
        margin-left: 3em;
    }

    /* map */
    .map {
        width: 1299px;
        margin: 0 auto;
    }

    .map {
        background: burlywood;
        height: 25em;
        /* height: ; */
    }
}
